<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Locações de Casa e Apartamentos</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
        }
       .info {
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
    <link rel="stylesheet" href="static/style.css" />
<body>
    <header>
        <nav>
          <a class="logo" href="/">Locaçoes</a>
          <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
          <ul class="nav-list">
            <li><a href="/">Início</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="mapa">Mapa</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
        </nav>
      </header>
      <script src="templates/mobile.js"></script>


    <div class="info">
        <h1>Bem-vindo ao nosso site de locações!</h1>
        <p>Encontre a casa ou apartamento perfeito para você em nossa plataforma.</p>
        <p>Nossa equipe trabalha arduamente para oferecer as melhores opções de locação em todo o país.</p>
    </div>
   
   
    <div class="container">
        <h2>Conheça Santa Catarina</h2>
        <p>Santa Catarina é um estado localizado na região Sul do Brasil, conhecido por suas praias, montanhas e rios. É um destino popular para turistas que buscam natureza, aventura e cultura.</p>
        <p>Florianópolis, a capital do estado, é uma cidade linda e charmosa, com praias incríveis e uma arquitetura colonial.</p>
        <p>Blumenau, a cidade do vale, é conhecida por suas montanhas e rios, e é um destino popular para esportes de aventura.</p>
        <h2>Encontre seu imóvel em Santa Catarina</h2>
        <p>Nossa plataforma oferece uma variedade de imóveis em Santa Catarina, desde casas e apartamentos em Florianópolis até chalés e fazendas em Blumenau.</p>
        <p>Encontre seu imóvel perfeito em Santa Catarina e desfrute de tudo que o estado tem a oferecer.</p>
      </div>
</body>
</html>